<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.mikemitterer.tutorial.fragments"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- für Error-Report -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <provider
            android:name=".model.provider.DataProvider"
            android:authorities="at.mikemitterer.tutorial.fragments.model.provider.DataProvider" 
            android:exported="false"/>

        <activity
            android:name=".view.bignames.BigNamesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        
        <activity
            android:name=".view.details.DetailsActivity"
            android:label="Tutorial Viewer" />
        
        <activity
            android:name=".view.prefs.PrefsActivityForFragments"
            android:label="Preferences" >
        </activity>
        
        <activity
            android:name=".view.prefs.PrefsActivitySimple"
            android:label="Preferences" >
        </activity>
        
    </application>

</manifest>